# frontend/.gitignore - Ignorar para Angular

frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/.angular/cache/

frontend/src/environments/*.ts

frontend/package-lock.json
frontend/yarn.lock

frontend/.vscode/
frontend/.idea/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.DS_Store
frontend/*.js
frontend/*.js.map
frontend/.tmp/
frontend/*.tmp



# backend/.gitignore - Ignorar para Laravel

backend/vendor/
backend/node_modules/
backend/public/storage
backend/storage/*.key
backend/.env
backend/.phpunit.result.cache

backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/

backend/.vscode/
backend/.idea/

backend/.DS_Store

backend/composer.lock

backend/Homestead.yaml
backend/Homestead.json

backend/npm-debug.log*
backend/yarn-error.log*

backend/Thumbs.db
