<app-conteiner>
  <div style="display: flex; justify-content: center; align-items: center">

    <div style="width: 1200px; height: 100%">
      <div>
        <h2>
          🗂️ Bienvenido a NoteStock
        </h2>
        <p>
          Tu espacio simple y poderoso para gestionar inventario como si fuera un bloc de notas.
        </p>
      </div>

      <div>
        <h2>
          ❓¿Qué es NoteStock?
        </h2>
        <p>
          NoteStock es una herramienta web diseñada para que puedas añadir, organizar y visualizar elementos de
          inventario
          de forma rápida y clara. Ya sea que estés administrando una colección, productos, ideas o cualquier tipo de
          contenido, NoteStock te ofrece un entorno limpio y eficiente.
        </p>
      </div>

      <div>
        <h2>
          🧩 ¿Qué puedes hacer?
        </h2>

        <div>
          <ul>
            <li>Crear ítems fácilmente con:
              <ul>
                <li>📛 Nombre</li>
                <li>📝 Descripción</li>
                <li>🖼️ Imagen de portada (cover)</li>
                <li>🖼️ Galería de imágenes opcional</li>
              </ul>
            </li>
            <li>Editar o eliminar ítems en cualquier momento.</li>
            <li>Visualizar todos tus elementos de forma ordenada y visual.</li>
            <li>Ideal para uso personal o como herramienta de apoyo para pequeños inventarios, catálogos, colecciones o
              ideas.
            </li>
          </ul>
        </div>
      </div>


      <div>
        <h2>
          🚀 Empieza ahora
        </h2>
        <p>
          Crea tu primer ítem y mantén tu inventario organizado, claro y visual.
          NoteStock: donde la funcionalidad y la simplicidad se encuentran.
        </p>
      </div>
    </div>

  </div>

</app-conteiner>
