<div
  style="width: 100%; height: 40px; justify-content: space-between; align-items: center; display: flex;"
  class="background-one font-sans text-inverted">

  <!-- Menú izquierdo -->
  <div style="display: flex; justify-content: start; align-items: center">
    <div *ngFor="let item of getMenu('left')" (click)="item.action?.()"
         class="hover-bg"
         style="--hover-bg: var(--background-two); height: 40px; padding: 0 20px; cursor: pointer">
      {{ item.name }}
    </div>
  </div>

  <!-- Menú derecho con submenús -->
  <div style="display: flex; justify-content: end; align-items: center; position: relative;">
    <div *ngFor="let item of getMenu('right')" class="menu-item-wrapper" style="position: relative;">
      <div
        class="hover-bg"
        style="--hover-bg: var(--background-two); height: 40px; padding: 0 20px; cursor: pointer;"
        (click)="item.action?.()"
        [ngClass]="{'has-children': item.children && item.children.length > 0}">
        {{ item.name }}
      </div>

      <!-- Submenú -->
      <div *ngIf="item.children && item.children.length > 0" class="submenu">
        <div *ngFor="let sub of item.children" (click)="sub.action?.()" class="submenu-item">
          {{ sub.name }}
        </div>
      </div>
    </div>
  </div>
</div>




