<app-conteiner>

  <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 10px; max-width: 100%;">

    <div (click)="addItem()"
         style="width: 100%; height: 100%; border: 2px var(--background-two) dotted; border-radius: 5px;  cursor: pointer">
      <div
        style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
        <div
          style="width: 100%; height: 100%;padding: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column">
          <span style="font-size: 24px">➕</span>
          <span>Añadir</span>
        </div>

      </div>
    </div>


    <app-card *ngFor="let item of items"  [item]="item" (action)="actions($event)"></app-card>
  </div>

</app-conteiner>
