<app-conteiner>

  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
    <div style="width: 80%; height: 80%; background-color: var(--background-three)">
      <form style="width: 100%; height: 100%; background-color: red">
        <div style="height: 100%; width: 100%">

        </div>
        <div style="width: 100%; display: flex; justify-content: end; align-items: center; background-color: blue">
          <button style="padding-right: 16px; padding-left: 16px; border-radius: 5px; background-color: var(--background-one); color: var(--text-inverted)">Entrar</button>
        </div>

      </form>
    </div>
  </div>
</app-conteiner>
